<div class="app-container">
    <div class="row">
        <div class="col d-flex justify-content-start">
            <app-filter></app-filter>
        </div>
        <div class="col d-flex justify-content-end">
            <app-table-actions></app-table-actions>
        </div>
    </div>

    <!-- Row for data table -->
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" /></th>
                        <th scope="col">Name</th>
                        <th scope="col">Contact Info</th>
                        <th scope="col">Age</th>
                        <th scope="col">Property Address</th>
                        <th scope="col">Rent</th>
                        <th scope="col">Property Manager</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><input type="checkbox" /></th>
                        <td>Jane Doe</td>
                        <td>janedoe@gmail.com</td>
                        <td>32</td>
                        <td>Montclair, NJ 07042, USA</td>
                        <td>$860</td>
                        <td>Jennifer Doe</td>
                        <td>
                            <button class="btn btn-sm btn-light">Basic</button>
                            <button class="btn btn-sm btn-light">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" /></th>
                        <td>Jane Doe</td>
                        <td>janedoe@gmail.com</td>
                        <td>32</td>
                        <td>Montclair, NJ 07042, USA</td>
                        <td>$860</td>
                        <td>Jennifer Doe</td>
                        <td>
                            <button class="btn btn-sm btn-light">Basic</button>
                            <button class="btn btn-sm btn-light">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" /></th>
                        <td>Jane Doe</td>
                        <td>janedoe@gmail.com</td>
                        <td>32</td>
                        <td>Montclair, NJ 07042, USA</td>
                        <td>$860</td>
                        <td>Jennifer Doe</td>
                        <td>
                            <button class="btn btn-sm btn-light">Basic</button>
                            <button class="btn btn-sm btn-light">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" /></th>
                        <td>Jane Doe</td>
                        <td>janedoe@gmail.com</td>
                        <td>32</td>
                        <td>Montclair, NJ 07042, USA</td>
                        <td>$860</td>
                        <td>Jennifer Doe</td>
                        <td>
                            <button class="btn btn-sm btn-light">Basic</button>
                            <button class="btn btn-sm btn-light">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" /></th>
                        <td>Jane Doe</td>
                        <td>janedoe@gmail.com</td>
                        <td>32</td>
                        <td>Montclair, NJ 07042, USA</td>
                        <td>$860</td>
                        <td>Jennifer Doe</td>
                        <td>
                            <button class="btn btn-sm btn-light">Basic</button>
                            <button class="btn btn-sm btn-light">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" /></th>
                        <td>Jane Doe</td>
                        <td>janedoe@gmail.com</td>
                        <td>32</td>
                        <td>Montclair, NJ 07042, USA</td>
                        <td>$860</td>
                        <td>Jennifer Doe</td>
                        <td>
                            <button class="btn btn-sm btn-light">Basic</button>
                            <button class="btn btn-sm btn-light">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" /></th>
                        <td>Jane Doe</td>
                        <td>janedoe@gmail.com</td>
                        <td>32</td>
                        <td>Montclair, NJ 07042, USA</td>
                        <td>$860</td>
                        <td>Jennifer Doe</td>
                        <td>
                            <button class="btn btn-sm btn-light">Basic</button>
                            <button class="btn btn-sm btn-light">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" /></th>
                        <td>Jane Doe</td>
                        <td>janedoe@gmail.com</td>
                        <td>32</td>
                        <td>Montclair, NJ 07042, USA</td>
                        <td>$860</td>
                        <td>Jennifer Doe</td>
                        <td>
                            <button class="btn btn-sm btn-light">Basic</button>
                            <button class="btn btn-sm btn-light">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" /></th>
                        <td>Jane Doe</td>
                        <td>janedoe@gmail.com</td>
                        <td>32</td>
                        <td>Montclair, NJ 07042, USA</td>
                        <td>$860</td>
                        <td>Jennifer Doe</td>
                        <td>
                            <button class="btn btn-sm btn-light">Basic</button>
                            <button class="btn btn-sm btn-light">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" /></th>
                        <td>Jane Doe</td>
                        <td>janedoe@gmail.com</td>
                        <td>32</td>
                        <td>Montclair, NJ 07042, USA</td>
                        <td>$860</td>
                        <td>Jennifer Doe</td>
                        <td>
                            <button class="btn btn-sm btn-light">Basic</button>
                            <button class="btn btn-sm btn-light">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" /></th>
                        <td>Jane Doe</td>
                        <td>janedoe@gmail.com</td>
                        <td>32</td>
                        <td>Montclair, NJ 07042, USA</td>
                        <td>$860</td>
                        <td>Jennifer Doe</td>
                        <td>
                            <button class="btn btn-sm btn-light">Basic</button>
                            <button class="btn btn-sm btn-light">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" /></th>
                        <td>Jane Doe</td>
                        <td>janedoe@gmail.com</td>
                        <td>32</td>
                        <td>Montclair, NJ 07042, USA</td>
                        <td>$860</td>
                        <td>Jennifer Doe</td>
                        <td>
                            <button class="btn btn-sm btn-light">Basic</button>
                            <button class="btn btn-sm btn-light">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" /></th>
                        <td>Jane Doe</td>
                        <td>janedoe@gmail.com</td>
                        <td>32</td>
                        <td>Montclair, NJ 07042, USA</td>
                        <td>$860</td>
                        <td>Jennifer Doe</td>
                        <td>
                            <button class="btn btn-sm btn-light">Basic</button>
                            <button class="btn btn-sm btn-light">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" /></th>
                        <td>Jane Doe</td>
                        <td>janedoe@gmail.com</td>
                        <td>32</td>
                        <td>Montclair, NJ 07042, USA</td>
                        <td>$860</td>
                        <td>Jennifer Doe</td>
                        <td>
                            <button class="btn btn-sm btn-light">Basic</button>
                            <button class="btn btn-sm btn-light">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" /></th>
                        <td>Jane Doe</td>
                        <td>janedoe@gmail.com</td>
                        <td>32</td>
                        <td>Montclair, NJ 07042, USA</td>
                        <td>$860</td>
                        <td>Jennifer Doe</td>
                        <td>
                            <button class="btn btn-sm btn-light">Basic</button>
                            <button class="btn btn-sm btn-light">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" /></th>
                        <td>Jane Doe</td>
                        <td>janedoe@gmail.com</td>
                        <td>32</td>
                        <td>Montclair, NJ 07042, USA</td>
                        <td>$860</td>
                        <td>Jennifer Doe</td>
                        <td>
                            <button class="btn btn-sm btn-light">Basic</button>
                            <button class="btn btn-sm btn-light">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" /></th>
                        <td>Jane Doe</td>
                        <td>janedoe@gmail.com</td>
                        <td>32</td>
                        <td>Montclair, NJ 07042, USA</td>
                        <td>$860</td>
                        <td>Jennifer Doe</td>
                        <td>
                            <button class="btn btn-sm btn-light">Basic</button>
                            <button class="btn btn-sm btn-light">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>