<div #appContainer class="app-container">
    <div #tableContainerHeader class="row">
        <div class="col d-flex justify-content-start">
            <app-filter></app-filter>
        </div>
        <div class="col d-flex justify-content-end">
            <app-table-actions></app-table-actions>
        </div>
    </div>

    <!-- Row for data table -->
    <div class="row">
        <div #tableContainer class="col-sm-12 app-container__table">
            <app-table></app-table>
        </div>
    </div>
</div>