@import "../../variables"

.tile
    border-radius: 16px
    box-shadow: 0px 0px 24px 0px darken($athensGray, 8%)
    background: $white
    padding: 20px
    color: $darkGraySuit

    .tile__heading
        margin: 0 0 10px 0

    .tile__text-primary
        font-size: 32px
        font-weight: 800
        letter-spacing: 2px
        margin: 0

    .tile__text-secondary
        letter-spacing: 0
        font-size: 14px
        font-weight: 600

    .tile__text--blue
        color: $royalBlue

    .tile__text--red
        color: $red

    .tile__text--green
        color: $green
