<div #rightArea class="right-area">
    <!-- Row for stats tiles -->
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        Total Tenants
                    </p>
                    <h4 class="card-title">
                        364
                        <small class="float-right">4% &uarr;</small>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        Tours Scheduled
                    </p>
                    <h4 class="card-title">
                        51
                        <small class="float-right">1.5% &darr;</small>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        Active Property Managers
                    </p>
                    <h4 class="card-title">
                        9
                        <small class="float-right">+4 more</small>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Jennifer Doe</h5>
                    Admin.
                </div>
                <img src="https://via.placeholder.com/112" class="ml-3 rounded-circle" alt="...">
            </div>
        </div>
    </div>

    <!-- Row for table section -->
    <div class="row">
        <div class="col-sm-12">
            <!-- Row for search input and table related actions-->
            <div class="row">
                <div class="col-sm-12">
                    <app-container></app-container>

                </div>
            </div>
        </div>
    </div>
</div>