/* You can add global styles to this file, and also import other style files */
body
    overflow: hidden
    font-size: 14px
    font-family: "helvetica neue", "roboto", sans-serif

.app
    padding: 20px

    .button-action
        margin: 40px 0 40px 16px

    .app-container
        margin: 20px 0 0 0
