$white: #FFFFFF
$athensGray: #f5f5fb
$whiteSmoke: #f0f0f5
$graySuit: #b6b4c7
$darkGraySuit: darken($graySuit, 10%)
$greenMist: #d1d3b8
$blue: #1f2bfe
$dune: #2e2928
$teak: #b7986a
$royalBlue: #5963df
$red: #FB5633
$green: #85DEA9

$containerRadius: 24px
